<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="right_leg-FT_remapper" type="multipleanalogsensorsremapper">
        <param name="SixAxisForceTorqueSensorsNames">
          (r_leg_ft r_foot_ft)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <elem name="right_leg_ft_sensor">  icub_right_leg_ft </elem>
                <elem name="right_foot_ft_sensor">  icub_right_foot_ft </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="20" type="detach" />
    </device>