<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="left_arm-mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="left_arm_joints1">( 0  6   0 6 )</elem>
        <elem name="left_arm_joints2">( 7  7   0 0 )</elem>
        <elem name="left_arm_joints3">( 8  10  0 2 )</elem>
        <elem name="left_arm_joints4">( 11 12  0 1 )</elem>
        <elem name="left_arm_joints5">( 13 14  0 1 )</elem>
        <elem name="left_arm_joints6">( 15 15  0 0 )</elem>
    </paramlist>
    <param name="joints"> 16 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="left_arm_joints1"> left_arm_hardware_device </elem>
            <elem name="left_arm_joints2"> left_hand_finger_hardware_device </elem>
            <elem name="left_arm_joints3"> left_hand_thumb_hardware_device </elem>
            <elem name="left_arm_joints4"> left_hand_index_hardware_device </elem>
            <elem name="left_arm_joints5"> left_hand_middle_hardware_device </elem>
            <elem name="left_arm_joints6"> left_hand_pinky_hardware_device </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
